{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <style>
        .nav {
            font-size: 24px;
            color: aqua;
        }
    </style>

    <header>
        <nav>
            <ul>
                <h1>
                    <a href="{% url 'post_list' %}">Home</a>
                </h1>
            </ul>
        </nav>
        
            <a href="{% url 'post_new' %}">Create New Post</a>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
           
        {% endif %}

    </header>

    {% block content %}

   
    {% endblock %}
</body>
</html>