<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <!--lista de posts-->
    <h1>Posts</h1>
    <ul>
        {% for post in post_list %}
            <li>
                <h2>cosas</h2> 
                <p> {{ post.content }}</p>
                <a href="">{{ post.title }}</a>
                <p> autor {{ post.author }}</p>

           </li> 
        
            <li>No posts available.</li>
        {% endfor %}
    </ul>
</body>
</html>